<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/tip-logo.png" type="image/x-icon">
    <title>About T.I.P | Technological Institute of the Philippines</title>
  </head>
  <body>
    <div class="container">
      
      <div class="header">
        <div class="ext-lnk">
          <a class="ext-left" href="https://library.tip.edu.ph/" target="_blank">LIBRARY</a>
          <a href="https://tip.edu.ph/mail.php" target="_blank">T.I.P EMAIL</a>
          <a href="https://tip.edu.ph/aris/index.php" target="_blank">ARIS</a>
      </div>
        <div class="title-header">
         <a href="index.html"><img src="images/tip-logo.png" alt="The logo of the Technological Institute of the Philippines"></a>
          <div class="hdr-title">
          <h1>TECHNOLOGICAL</h1>
          <h1>INSTITUTE</h1>
          <h1>OF THE PHILIPPINES</h1>
          </div>
          </div>
      </div>
        <nav>
        <a class="first-nav" href="index.html">Home</a>
        <a href="about.html">About T.I.P</a></li>
        <a href="program.html">Program Offerings</a></li>
        <a href="accredit.html">ABET-Accredited Programs</a>
        <a href="admission.html">Admissions</a>
        <a href="https://technocore.tip.edu.ph/" target="_blank">T.I.P. TechnoCore</a>
        <a href="https://careercenter.tip.edu.ph/" target="_blank">T.I.P. Career Center</a>
        <a href="news.html">T.I.P. News</a>
        <a class="last-nav" href="contact.html">Contact Us</a>
            <!-- IMPORTANT: yung file name pareho niyo na dito sa ginamit ko sa navigation bar -->

     </nav>

        <div class="content">
          <div class="side-lnk-soc">
            <div class="fb-med-side soc-med-side">
              <a href="https://www.facebook.com/TIP1962official/" id="fb-link" target="_blank"><span><img class="soc-logo" src="images/fb-logo.png" alt="Facebook's Logo"></span>T.I.P.'s Facebook</a> <br><br>
            </div>
      
            <div class="twt-med-side soc-med-side">
              <a href="https://twitter.com/TIP1962official/" id="twt-link" target="_blank"><span><img class="soc-logo" src="images/twt-logo.png" alt="Twitter's Logo"></span>T.I.P.'s Twitter</a> <br><br>
            </div>
      
            <div class="contact-med-side soc-med-side">
              <a href="contact.html" id="contact-link" target="_blank"><span><img class="soc-logo" src="images/phone-logo.png" alt="Phone Icon"></span>Contact Us</a> <br><br>
            </div>
            </div>

            <div class="page-title">
              <div class="title-content">
                <h1>ABOUT T.I.P</h1>
              </div>
            </div>
    
           <div class="content-container">
            <div class="side-nav">
              <a href="" id="frst-side-nav">General Information</a>
              <a href="">Vision and Mission</a>
              <a href="">About the Logo</a>
              <a href="">Quality Policy</a>
              <a href="">Core Values</a>
              <a href="">Core Competencies</a>
              <a href="">Graduate Attributes</a>
              <a href="">T.I.P. Outcomes-Based Education</a>
              <a href="">Academic Policies</a>
              <a href="">T.I.P. Hymn and T.I.P. Fight Song</a>
              <a href="" id="last-side-nav">Administration</a>

            </div>

            <div class="content-place">
              
            </div>
            
          </div>

    </div>

     <footer>
         <div class="contact-footer">
             
            <p><img src="images/phone-footer.png" alt="">QC Campus - (+632) 8911-0964 / </p>
            <p>Manila Campus - (+632) 8733-9117</p>
         </div>
         
         <div class="loc-footer">

            <p> <img src="images/location-footer.jpg" alt=""> 363 P. Casal St., Quiapo, Manila / 1338 Arlegui St., Quiapo, Manila / 938 Aurora Blvd., Cubao, Quezon City </p>
         </div>

         <div class="email-footer">
             <p> <img src="images/email-footer.jpg" alt=""> info@tip.edu.ph</p>
             <p><a href="privacy.html">Privacy Notice</a></p>
         </div>

        
     </footer>
    </div>
  </body>
</html>
